body {
  margin: 0;
  padding: 0;
  font-family: "poppins" , sans-serif;
  height: 100vh;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(112, 128, 144, 0.5); /* Semi-transparent background */
  color: white;
  text-align: right;
  
}
nav{
  
}
nav ul {
  list-style: none;
  display: inline-flex;
  gap: 20px; /* Spacing between items */
  margin: 0;
  padding: 2%;
}
nav li{
  font-size: 1.2em;
  margin: 0;
  padding: 0%;
}
li a{
  text-decoration: none;
  color: #fff;
  display: block;
}
li a:hover{
  text-decoration: underline;
}
div {
  
}

.img {
  width: 100%;
  height: 100%;
}
#bg-image1 {
  width: 100%;
  height: 100%;
}
h2 {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(112, 128, 144, 0.5); /* Semi-transparent background */
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Spacing between items */
  margin: 0;
  padding: 2%;
}

footer li {
  font-size: 1.2em;
  margin: 0;
  padding: 0%;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: block;
}

footer a:hover {
  text-decoration: underline;
}
#sm-logos {
  height: 25px;
  width: 25px;
}