/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: ;
    --primary-color: #416a8e; /* slate grey */
    --highlight-color: #3ec0ff; /* electric blue */
    --highlight-color-sunshine: #ffc700; /*golden yellow*/  
  }

  /* Global styles */

body {
  font-family: var(--primary-font);
  padding-top: 93.87px; /*pushed body below fixed navbar*/
  background-color: white;
}

h2 {  
  color: var(--primary-color);
}

/*Navbar*/

#navbar {
  background-color: var(--primary-color);
  color: white;
  border-bottom: 2px solid white;
}

/*Main*/

.mnt-bg {
  background-color: var(--highlight-color);
}
.fst-bg {
  background-color: var(--highlight-color-sunshine);
}

.bg-image {
  background-image: url("../img/snowdonia.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-bottom: 4px solid var(--primary-color);
}

.bg-image-2 {
  background-image: url("../img/bushcraft.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-bottom: 4px solid var(--primary-color);
}


.favi {
  font-size: xxx-large;
  background-position: center;
  background-size: cover;
}


/*Footer*/

#contact {
  background-color: var(--primary-color);
  color: white;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}