/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: ;
    --primary-color: #708090; /* slate grey */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #ffffff; /*white*/  
  }

  /* Global styles */

body {
  font-family: var(--primary-font);
  padding-top: 57.15px; /*pushed body below fixed navbar*/
}

/*Navbar*/

#navbar {
  background-color: var(--primary-color);
  color: white;
}

/*Main*/

.bg-fill {
  background-color: var(--highlight-color);
}

.bg-image {
  background-image: url("../img/snowdonia.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*

.sections-fill {
  background-color: #416a8e;
  color: white;
}
*/

/*Footer*/

#contact {
  background-color: var(--primary-color);
  color: white;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}