/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

/* CSS Variables taken from the boadwalk games walkthrough and adjusted to fit the Summit Events styles */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Rock Salt", cursive;
    --primary-color: #416a8e; /* slate grey */
    --highlight-color: #3ec0ff; /* electric blue */
    --highlight-color-sunshine: #ffc700; /*golden yellow*/ 

  }

  /* Global styles */

body {
  font-family: var(--primary-font);
  padding-top: 93.87px; /*pushed body below fixed navbar - taken from Boardwalk walkthrough and adjusted for this site*/
  background-color: white;
}

h2 {  
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

/*Navbar*/

#navbar {
  background-color: var(--primary-color);
  color: white;
}

/*Main*/

/*Cards*/

.mnt-bg {
  background-color: var(--highlight-color);
}
.fst-bg {
  background-color: var(--highlight-color-sunshine);
}
.rvr-bg {
  background-color: #20c997;
}
.tgt-bg {
  background-color: #ff6b6b;
}

.card-img-top {
  width: 90%; /* Set the width to a percentage of its container */
  height: 90%; /* Maintain aspect ratio */
  margin: 15px auto; /* Add top and bottom margin for spacing */
  display: block; /* Center-align the image */
  border-radius: 5px; /* Optional: Adds slight rounding to the border */
  object-fit: cover;
  aspect-ratio: 16 / 9;
}


/*buttons*/

.btn {
  background-color: var(--primary-color);
  border: none;
}

.bwg-image {
  background-image: url("../img/snowdonia.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-bottom: 4px solid var(--primary-color);
}

.bwg-image-2 {
  background-image: url("../img/bushcraft.jpg");
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-bottom: 4px solid var(--primary-color);
}


.favi {
  font-size: xxx-large;
  background-position: center;
  background-size: cover;
}


/*Footer*/

#contact {
  background-color: var(--primary-color);
  color: white;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

/*Media query from stackoverflow*/
/*Media query for small devices up to 768px in portrait*/

@media screen and (min-width: 768px) {
  /* Make main section cards the same height and give image-top class max height to keep them consistent*/
      .card {
      min-height: 450px;}
      .card-img-top {
        max-height: 138px;
      }

  }