/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

/* CSS Variables taken from the boadwalk games walkthrough and adjusted to fit the Summit Events styles */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Rock Salt", cursive;
    --primary-color: #416a8e; /* slate grey */
    --highlight-color: #3ec0ff; /* electric blue */
    --highlight-color-sunshine: #ffc700; /*golden yellow*/ 

  }

  /* Global styles */

body {
  font-family: var(--primary-font);
  padding-top: 93.87px; /*pushed body below fixed navbar - taken from Boardwalk walkthrough and adjusted for this site*/
  background-color: white;
}

h2 {  
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

h4 i {
  color: var(--primary-color);
}

/*Navbar*/

#navbar {
  background-color: var(--primary-color);
  color: white;
}

/*Main*/

/*Cards*/

.mnt-bg {
  background-color: var(--highlight-color);
}
.fst-bg {
  background-color: var(--highlight-color-sunshine);
}
.rvr-bg {
  background-color: #20c997;
}
.tgt-bg {
  background-color: #ff6b6b;
}

.info-img {
  max-height: 142px;
}
.card {

}

.card-img-top {
  width: 90%; /* Set the width to a percentage of its container */
  height: 90%;
  margin: 15px auto; /* Add top and bottom margin for spacing */
  display: block; /* Center-align the image */
  border-radius: 5px; /* Optional: Adds slight rounding to the border */
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.review-card {
  border: 4px solid var(--primary-color);
}


/*buttons*/

.btn {
  background-color: var(--primary-color);
  border: none;
}

.favi {
  font-size: xxx-large;
  background-position: center;
  background-size: cover;
}
/*Reviews*/
#reviews {
  padding-top: 93.87px;
}

/*Details & equiries sections*/

.mountain-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.forest-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.details-m {
  padding-top: 4px;
  justify-content: center;
  display: flex;
  border: 4px solid var(--highlight-color);
  width: 98%;
}
.details-f {
  padding-top: 4px;
  justify-content: center;
  display: flex;
  border: 4px solid var(--highlight-color-sunshine);
  width: 98%;
}
.details-r {
  padding-top: 4px;
  justify-content: center;
  display: flex;
  border: 4px solid #20c997;
  width: 98%;
}
.details h4 {
  padding-top: 15px;
  padding-left: 15px;
}
.details p {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}
.btn-details-m {
  margin-left: 15px;
  margin-bottom: 15px;
}
.btn-details-f {
  margin-left: 15px;
  margin-bottom: 15px;
}
.btn-details-m:hover {
  background-color: #3ec0ff;
  color: black;
}
.btn-details-f:hover {
  background-color: var(--highlight-color-sunshine);
  color: black;
}
/*Off canvas styles*/
.bdr-m {
  border: 8px solid var(--highlight-color);
}
.bdr-f {
  border: 8px solid var(--highlight-color-sunshine);
}
.bdr-w {
  border: 8px solid #20c997;
}
.bdr-t {
  border: 8px solid #ff6b6b;
}
/*contact section*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--primary-color);
  border-radius: 0.375rem;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
}
.box h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Footer*/

#contact {
  background-color: var(--primary-color);
  color: white;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

/*Media query from stackoverflow*/
/*Media query for small devices up to 768px in portrait*/

@media screen and (min-width: 768px) {
  /* Make main section cards the same height and give image-top class max height to keep them consistent*/
      .card {
      min-height: 450px;}
      .card-img-top {
        max-height: 138px;
      }
      .fst-bg, .mnt-bg, .rvr-bg, .tgt-bg {
        min-height: 170px;
      }
  }

  @media screen and (min-width: 768px) {
      .review-card, .fst-bg, .mnt-bg, .rvr-bg, .card-img-top {
        min-height: 250px;
      }    
  }
  
  @media screen and (min-width: 1400px) {
    .review-card {
      min-height: 235px;
    }    
}